{% extends 'base.twig' %}

{% block head %}
	<link rel="stylesheet" href="{{URL}}css/home.css">
	<script src="{{ URL }}js/dynamic_home.js"></script>
	<script src="{{URL}}js/modalPost.js" defer></script>
{% endblock %}

{% block content %}
	<!-- Fil d'actualité -->
	{{ url }}
	<div class="main-content">
		<main class="feed">
			<h1>For you </h1>
		</main>
		{% include 'post-modal.twig'%}
	</div>

	<aside class="suggestions">
		<h2>Suggested for you</h2>
		<!-- Suggestions -->
		{% for suggestion in suggestions %}
			<div class="user">
				<div class="profile_img">
					<a href="{{URL}}profile/{{suggestion.user_username}}"><img src="{{PROFILE_IMG_PATH}}{{suggestion.user_pp_path}}" alt="Image"> </a>
				</div>
				<a class="nav-link" href="{{URL}}profile/{{suggestion.user_username}}">
					<span>{{suggestion.user_username}}</span>
				</a>
			</div>
		{% endfor %}
	</aside>

{% endblock %}
