{% extends 'base.twig' %}

{% block title %}Home - Instagram
{% endblock %}

{% block content %}
	<h1>Fil d'actualité</h1>
	<div class="post">
		<div class="post_header">
			<div class="profile_info">
				<div class="profile_img">
					<img src="{{ posts[0].user_pp_path }}" alt="Image">
				</div>
				<a class="nav-link" href="{{ url }}profile?id=1">
					<span>{{ posts[0].user_username }}</span>
				</a>
			</div>
			<div class="options">
				<span>
					<ion-icon name="ellipsis-horizontal"></ion-icon>
				</span>
			</div>
		</div>
		<div class="post_img">
			<img src="{{ posts[0].post_picture_path }}" alt="Image">
		</div>
		<div class="post_body">
			<div class="post_actions">
				<span class="heart_icon">
					<ion-icon name="heart-outline"></ion-icon>
				</span>
				<span>
					<ion-icon name="chatbubble-outline"></ion-icon>
				</span>
				<span>
					<ion-icon name="paper-plane-outline"></ion-icon>
				</span>
				<span>
					<ion-icon name="bookmark-outline"></ion-icon>
				</span>
			</div>
			<div class="post_info">{{ posts[0].nb_likes }}
				likes</div>
			<div class="post_title">
				<span class="username">{{ posts[0].user_username }}</span>
				<span class="title">{{ posts[0].post_description }}</span>
			</div>
			<div class="post_comments">
				<span>View all
					{{ posts[0].nb_comments }}
					comments
				</span>
				<div class="comment">
					<span class="comment_username">User</span>
					<span class="comment_text">Trop choupinou</span>
					<span class="heart_icon">
						<ion-icon name="heart-outline"></ion-icon>
					</span>
				</div>
			</div>
			<div class="post_timestamp">{{ posts[0].time_stamp|date('Y-m-d H:i') }}</div>
		</div>
		<div class="input_box">
			<div class="emoji">
				<ion-icon name="happy-outline"></ion-icon>
			</div>
			<input type="text" placeholder="Add a comment...">
			<button>Post</button>
		</div>
	</div>
{% endblock %}
