{% extends 'base.twig' %}

{% block title %}Instagram
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{URL}}css/sidebar.css">
	<link rel="stylesheet" href="{{URL}}css/profile.css">
	<link rel="stylesheet" href="{{URL}}css/custom-modal.css">
	<link rel="stylesheet" href="{{URL}}css/follow-modal.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="icon" href="{{URL}}img/favicon.ico" type="image/x-icon">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script src="{{URL}}js/post_view.js" defer></script>
	<script src="{{URL}}js/heart_icons.js" defer></script>
	<script src="{{URL}}js/post_view.js" defer></script>
	<script src="{{URL}}js/global_variables.js" defer></script>
	<script src="{{URL}}js/sidebar_search.js" defer></script>
	<script src="{{URL}}js/profile_decision_tab.js" defer></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<!-- Profile header -->
	<div class="main-content">
		<div class="profile-container">
			<div class="profile-header">
				<div class="profile-picture">
					<img src="{{PROFILE_IMG_PATH}}{{user.user_pp_path}}" alt="Profile Picture">
				</div>
				<div class="profile-info">
					<div class="profile-username">
						<h2>{{user.user_username}}</h2>
						<button class="follow-btn">Follow</button>
					</div>
					<ul class="profile-stats">
						<li>
							<span class="nav-link">
								<strong>{{nbPosts}}</strong>
								posts</span>
						</li>

						<li>
							<span class="nav-link followers-stat" id="follow-btn" onclick="openModalFollow(true)" data-user-id={{user.user_id}}>
								<strong>{{followers_stats['nbFollowers']}}</strong>
								followers</span>
						</li>

						<li>
							<span  class="nav-link following-stat"  onclick="openModalFollow(false)" data-user-id={{user.user_id}}>
								<strong>{{followers_stats['nbFollowings']}}</strong>
								following</span>
						</li>

					</ul>
					<div class="profile-bio">
						<pre class="bio">{{user.user_description}}</pre>

					</div>
				</div>
			</div>
			<div class="content-decider">
				<div class="post-choice active">
					<button name="post-choice-btn" onclick="switchActiveBtn('post')">
						<ion-icon name="grid-outline"></ion-icon>
						PUBLICATIONS
					</button>
				</div>
				<div class="identification-choice">
					<button name="identification-choice-btn" onclick="switchActiveBtn('identification')">
						<ion-icon name="at-outline"></ion-icon>
						IDENTIFIÉ(E)
					</button>
				</div>
            </div>
			<!-- Post gallery-->
			<div class="profile-posts">
				{% for post in posts %}
					<div class="post" onclick="openModalPost(`{{POST_IMG_PATH}}{{post.post_picture_path}}`, `{{post.post_id}}`, `{{post.post_description}}`, `{{post.nb_likes}}`, `{{post.time_stamp.format("Y-m-d H:i")}}`)"><img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Post">
					</div>
				{% endfor %}
			</div>
		</div>

		{% include 'post-modal.twig'%}
		
		<div id="post-modal-follow" class="follow-modal">
			<div class="follow-modal-content">
				<div class="follow-modal-header">
					<h2>Followers</h2>
					<span class="close" onclick="closeModalFollow()">&times;</span>
				</div>

				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="search-container" id="follow-search-container">
								<input type="text" class="form-control search-input" onkeyup="search()" placeholder="Search...">
								<i class="fas fa-search search-icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="follow-modal-body">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
