 <div class="profile_intro friends-container">
    <div class="friends-header">
        <h3 class="friends-title">Friends</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="search-container" id="follow-search-container">
                        <input type="text" class="form-control search-input" name="follow-search" onkeyup="searchFriends(event)" placeholder="Search...">
                        <i class="fas fa-search search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="friends-nav">
        <span class="friends-nav-item active" onclick="changeActiveFriendsNav(event)" id="all">All friends</span>
        <span class="friends-nav-item" onclick="changeActiveFriendsNav(event)" id="school">School</span>
        <span class="friends-nav-item" onclick="changeActiveFriendsNav(event)" id="location">City</span>
    </div>
    
    <div class="friends_box">
        {% for friend in profileFriends is defined ? friends : friends|slice(0, 6) %}
        <div class="friend-item-container">
            <a href="{{URL}}/profile/{{friend.user_slug}}" class="friend-item">
                <div class='friend-profile_picture'>
                    <img src="{{PROFILE_IMG_PATH}}{{friend.user_pp_path}}" alt=""> 
                </div>
                <p>{{friend.user_firstname}} {{friend.user_lastname}}</p>
            </a>
            <button class="add-friend-btn">Add friend</button>
        </div> 
        {% endfor %}
    </div>
    {% if profileFriends is not defined %}
    <a href="{{URL}}profile/{{user.user_slug}}/friends" class="see-all-friends">See all Friends</a>
    {% endif %}
</div>
