{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/groupPage.css">
    <link rel="stylesheet" href="{{URL}}css/groupHeader.css">
    <link rel="stylesheet" href="{{URL}}css/commentModal.css">
    <link rel="stylesheet" href="{{URL}}css/likeModal.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/dynamic_groupPosts.js" defer></script>
    <script src="{{URL}}js/groupHeader.js" defer></script>
    <script src="{{URL}}js/likeModal.js" defer></script>
    <script src="{{URL}}js/commentModal.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
    {% include 'groupHeader.twig' with {'URL': URL , 'group':group, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    <div class="group_container">
        <div class="group_info">
            <div class="post_col">
            
            </div>
            <div class="info_col">
                <div class="group_intro">
                    <h3>About</h3>
                    <p class="intro_text">{{group.group_description}}</p>
                    <ul>
                        <li> <ion-icon name="earth-outline"></ion-icon>  Public</li>
                        <p> Everyone can see who is in the group and what is posted.</p>
                        <li> <ion-icon name="eye-outline"></ion-icon> Visible </li>
                        <p> Anyone can find this group.</p>
                    </ul>
                    <a href="{{URL}}groups/{{group.group_slug}}/about" class="group-link"><span class="link-label">Learn more</span></a>
                </div>
                {% if posts_pictures|length > 0 %}
                <div class="group_intro">
                    <div class="title_box">
                        <h3>Recent multimedia content</h3>
                    </div>
                    <div class="photo_box">
                        {% for post_picture in posts_pictures|slice(0, 4) %}
                            {% if post_picture.post_picture_path %}
                                <div class="photo_box_item" onclick="showGroupCommentsModal({{post_picture.post_id}})"><img src="{{POST_IMG_PATH}}{{post_picture.post_picture_path}}" alt=""></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{URL}}groups/{{group.group_slug}}/media" class="group-link"><span class="link-label">See all</span></a>
                </div>
                {% endif %}
            </div>
            
        </div>

        <div id="likeModal" class="like-modal">
            <div class="like-modal-content">
                <div class="like-modal-header">
                    <div class="like-modal-title">Likes</div>
                    <span class="close-like-modal">&times;</span>
                </div>
                <div id="likeModalBody">
                </div>
            </div>
        </div>

        <div id="commentModal" class="comment-modal"> 
            <div class="comment-modal-content">
            </div>
        </div>

    </div>
{% endblock %}
