{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/profile.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
    <div class="profile-top">
        <div class="profile-cover">
            <img src="{{POST_IMG_PATH}}{{group.group_banner_picture_path}}" alt="cover" class="img-cover">
        </div>
        <div class="profile_detail">
            <div class="proflie_detail_left">
                <div class="profile_row">
                    <div class="profile-info">
                        <span class="profile-name">{{group.group_name}}</span>
                        <span class="profile-friends"><ion-icon name="earth-outline"></ion-icon> Group (Public) · {{ group.nb_members}} members</span>
                    </div>
                </div>
            </div>
            <div class="proflie_detail_right">
                <span><i class='fas fa-user-friends'></i></ion-icon> Friends</span>
                <span><i class='far fa-comment'></i> Message</span>
                <br />
            </div>
        </div>
        <div class="profile-links-container">
            <div class="profile-links">
                <div class="profile-links-items">
                    <a href="{{URL}}profile/{{user.user_slug}}"><span class="profile-link-item" id="publications">Publications</span></a>
                    <a href="{{URL}}profile/{{user.user_slug}}/about"><span class="profile-link-item" id="about">About</span></a>
                    <a href="{{URL}}profile/{{user.user_slug}}/friends"><span class="profile-link-item" id="friends">Friend(s)</span></a>
                    <a href="{{URL}}profile/{{user.user_slug}}/photos"><span class="profile-link-item" id="pictures">Photos</span></a>
                </div>
                <div class="profile-link-more">
                    <a href="#"><span><i class="fa fa-ellipsis-h"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile_container">
        <div class="profile_info">
            <div class="post_col">
            {% for post in posts %}
                <div class="post-container">
                    <div class="post-top-row">
                        <div class="user-profile">
                            <a href="{{URL}}profile/{{post.user_slug}}"><img src="{{PROFILE_IMG_PATH}}{{post.user_pp_path}}" alt="Avatar"></a>
                            <div class="post-data">
                                <a href="{{URL}}profile/{{post.user_slug}}"><span class="post-data-name">{{post.user_firstname}} {{post.user_lastname}}</span></a>
                                <span class="post-data-date">{{post.time_stamp.format('Y-m-d H:i')}}</span>
                            </div>
                        </div>
                        <div class="post-setting">
                            <span><i class="fa fa-ellipsis-h"></i></span>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                    <p class="post_text">{{post.post_content}}</p>
                    <img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Feedback" class="post_img">
                    <div class="post-bottom-row">
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/thumbs-up-outline.svg"></ion-icon>
                            <span>J'aime</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/chatbubble-outline.svg"></ion-icon>
                            <span>Commenter</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/people-circle-outline.svg"></ion-icon>
                            <span>Envoyer</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/arrow-redo-outline.svg"></ion-icon>
                            <span>Partager</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="info_col">
                <div class="profile_intro">
                    <h3>About</h3>
                    <p class="intro_text">{{group.group_description}}</p>
                    <hr>
                    <ul>
                        <li> <ion-icon name="earth-outline"></ion-icon>  Public</li>
                        <p> Tout le monde peut voir qui est dans le groupe et ce qui est publié.</p>
                        <li> <ion-icon name="eye-outline"></ion-icon> Visible </li>
                        <p> Tout le monde peut trouver ce groupe.</p>
                    </ul>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Discussions</h3>
                    </div>
                    <div class="photo_box">
                        {% for post in posts|slice(0, 9) %}
                            <div class="photo_box_item"><img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}
