{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/groupPage.css">
    <link rel="stylesheet" href="{{URL}}css/groupHeader.css">
    <link rel="stylesheet" href="{{URL}}css/commentModal.css">
    <link rel="stylesheet" href="{{URL}}css/likeModal.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/groupHeader.js" defer></script>
    <script src="{{URL}}js/commentModal.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
    {% include 'groupHeader.twig' with {'URL': URL , 'group':group, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    <div class="group_container">
        <div class="group_info">
            <div class="post_col">
            {% for post in posts %}
                <div class="post-container">
                    <div class="post-top-row">
                        <div class="user-profile">
                            <a href="{{URL}}profile/{{post.user_slug}}"><img src="{{PROFILE_IMG_PATH}}{{post.user_pp_path}}" alt="Avatar"></a>
                            <div class="post-data">
                                <a href="{{URL}}profile/{{post.user_slug}}"><span class="post-data-name">{{post.user_firstname}} {{post.user_lastname}}</span></a>
                                <span class="post-data-date">{{post.time_stamp.format('Y-m-d H:i')}} · <ion-icon src="{{URL}}img/svg-icons/earth-outline.svg"></ion-icon></span>
                            </div>
                        </div>
                        <div class="post-setting">
                            <span><i class="fa fa-ellipsis-h"></i></span>
                        </div>
                    </div>
                    <p class="post_text">{{post.post_content}}</p>
                    {% if post.post_picture_path is not empty %}
                        <div class="post_img_container">
                            <img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Post Image" class="post_img">
                        </div>
                    {% endif %}
                    <div class="post_stats">
                            <div class="post_stats_item"> 
                                <ion-icon class="like-icon" src="{{URL}}img/svg-icons/heart-circle.svg" ></ion-icon>
                                <span>{{post.nb_likes}}</span>
                            </div>
                            <div class="post_stats_item"> 
                                <span onclick="showGroupCommentsModal({{post.post_id}})">{{post.nb_comments}} comments </span>
                            </div>
                        </div>
                    <div class="post-bottom-row">
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/thumbs-up-outline.svg"></ion-icon>
                            <span>Like</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/chatbubble-outline.svg"></ion-icon>
                            <span>Comment</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/people-circle-outline.svg"></ion-icon>
                            <span>Send</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon src="{{URL}}img/svg-icons/arrow-redo-outline.svg"></ion-icon>
                            <span>Share</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="info_col">
                <div class="group_intro">
                    <h3>About</h3>
                    <p class="intro_text">{{group.group_description}}</p>
                    <ul>
                        <li> <ion-icon name="earth-outline"></ion-icon>  Public</li>
                        <p> Everyone can see who is in the group and what is posted.</p>
                        <li> <ion-icon name="eye-outline"></ion-icon> Visible </li>
                        <p> Anyone can find this group.</p>
                    </ul>
                    <a href="{{URL}}groups/{{group.group_slug}}/about" class="group-link"><span class="link-label">Learn more</span></a>
                </div>
                {% if posts_pictures|length > 0 %}
                <div class="group_intro">
                    <div class="title_box">
                        <h3>Recent multimedia content</h3>
                    </div>
                    <div class="photo_box">
                        {% for post_picture in posts_pictures|slice(0, 4) %}
                            {% if post_picture.post_picture_path %}
                                <div class="photo_box_item"><img src="{{POST_IMG_PATH}}{{post_picture.post_picture_path}}" alt=""></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{URL}}groups/{{group.group_slug}}/media" class="group-link"><span class="link-label">See all</span></a>
                </div>
                {% endif %}
            </div>
            
        </div>

        <div id="likeModal" class="like-modal">
            <div class="like-modal-content">
                <div class="like-modal-header">
                    <div class="like-modal-title">Likes</div>
                    <span class="close-like-modal">&times;</span>
                </div>
                <div id="likeModalBody">
                </div>
            </div>
        </div>

        <div id="commentModal" class="comment-modal"> 
            <div class="comment-modal-content">
            </div>
        </div>

    </div>
{% endblock %}
