{% if groups %}
<div class="profile_intro groups-container">
    <div class="photos-header">
        <h3 class="photos-title">Groups</h3>
    </div>
    
    <div class="photos-nav">
        <span class="photos-nav-item active">Public</span>
    </div>
    
    <div class="groups_box">
        {% for group in groups %}
        <div class="friend-item-container">
            <a href="{{URL}}groups/{{group.group_slug}}" class="group-item">
                <div class='friend-profile_picture'>
                    <img src="{{BANNER_IMG_PATH}}{{group.group_banner_picture_path}}" alt=""> 
                </div>
                <div class="group-info">
                    <div class="group-name">
                        <p>{{group.group_slug}}</p>
                    </div>
                    <div class="group-status-nbmembers">
                        <p class="group-public-status">
                            <ion-icon name="earth-outline"></ion-icon>
                            Public 
                        </p>
                        <p class="group-nb-members">· {{group.nb_members}} members</p>
                    </div>
                </div>
            </a>
        </div> 
        {% endfor %}
    </div>
</div>
{% endif %}