{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/groupMembers.css">
    <link rel="stylesheet" href="{{URL}}css/groupHeader.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/groupHeader.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
    {% include 'groupHeader.twig' with {'URL': URL , 'group':group, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    <div class="group_container">
        <div class="members-container">
            <div class="members-top-row">
                <span class="members-title">Members · {{ group.nb_members}}</span>
                <p>New people who join this group will appear here.</p>
                <div class="search_box">
                 <ion-icon src="{{URL}}img/svg-icons/search-outline.svg"></ion-icon>
                    <input type="search" placeholder="Search for a member">
                </div>
            </div>
            <div class="members-list">
                <span class="new-members-title">New members</span>
                <p>This list includes people who have joined the group as well as those who are previewing it. Anyone who has been invited and approved can preview the group's contents.</p>
            {% for member in members %}
                <div class="member-list-item">
                    <div class="member-item-left">                        
                        <a class="user-page-link" href="{{URL}}groups/{{group.group_slug}}/user/{{member.users.user_slug}}"><img src="{{PROFILE_IMG_PATH}}{{member.users.user_pp_path}}" alt="Post_picture"></a>
                        <div class="member-data">
                            <a class="user-page-link" href="{{URL}}groups/{{group.group_slug}}/user/{{member.users.user_slug}}"><span class="member-names">{{member.users.user_firstname}} {{member.users.user_lastname}}</span></a>
                            <span class="member-since">Member since {{member.timestamp}}</span>
                            <span class="member-more">
                            {% if member.users.user_location is not empty %}
                                {{member.users.user_location}}
                            {% elseif member.users.user_school is not empty %}
                                {{member.users.user_school}}
                            {% endif %}   
                            </span>
                        </div>
                    </div>
                    <div class="member-item-right">
                        <button class="add-button"><ion-icon name="person-add"></ion-icon> Add as friend</button>
                    </div>
                </div>
            {% endfor %}   
            </div> 
        </div>

        <div class="search-modal" id="searchModal">
            <div class="search-modal-content">
            {# Filled in search-modal.js #}
                <div class="search-results-container">
                    <div class="search-results-groups">
                        <div class="groups-list" id="groupsResults">
                        </div>
                    </div>
                    
                    <div class="search-results-users">
                        <div class="users-list" id="usersResults">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
