<nav>
        <div class="nav_left">
            <a class="logo-container" href={{URL}}>
                <img src="{{URL}}img/facebook-logo.png" alt="Logo" class="logo">
            </a>
            <div class="search_box">
                 <ion-icon src="{{URL}}img/svg-icons/search-outline.svg"></ion-icon>
                <input type="search" placeholder="Search on Facebook">
            </div>
        </div>
        <div class="navbar-links">
            <a href="{{URL}}" class="navbar-item" id="home">
                <i class="fa fa-home"></i>
            </a>
            <a href="{{URL}}groups" class="navbar-item" id="groups">
                <i class='fas fa-users'></i>
            </a>
        </div>
        <div class="nav_right">         
            <div class="nav_user_icon online_icon">
                 <a href="{{URL}}" ><ion-icon src="{{URL}}img/svg-icons/person-circle-sharp.svg"></ion-icon></a>
            </div>   
        </div>
    </nav>

<div class="search-modal" id="searchModal">
    <div class="search-modal-content">
        <div class="search-results-container">
            <div class="search-results-header">
                <h3>Search Results</h3>
            </div>
            
            <div class="search-results-groups">
                <h4>Groups</h4>
                <div class="groups-list" id="groupsResults">
                </div>
            </div>
            
            <div class="search-results-users">
                <h4>People</h4>
                <div class="users-list" id="usersResults">

                </div>
            </div>
        </div>
    </div>
</div>