<nav>
        <div class="nav_left">
            <div class="logo-container">
                <img src="{{url}}img/facebook-logo.png" alt="Logo" class="logo">
            </div>
            <div class="search_box">
                 <ion-icon src="{{url}}img/svg-icons/search-outline.svg"></ion-icon>
                <input type="search" placeholder="Search on Facebook">
            </div>
        </div>
        <div class="navbar-links">
            <a href="{{url}}" class="navbar-item">
                <i class="fa fa-home"></i>
            </a>
            {# TO DO: CHANGE URL TO BE GROUP URL  #}
            <a href="{{url}}" class="navbar-item">
                <i class='fas fa-users'></i>
            </a>
        </div>
        <div class="nav_right">         
            <div class="nav_user_icon online_icon">
                 <a href="{{url}}" ><ion-icon src="{{url}}img/svg-icons/person-circle-sharp.svg"></ion-icon></a>
            </div>   
        </div>
    </nav>