{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/profile.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
	<div class="profile-top">
        <div class="profile-cover">
            <img src="{{user.user_banner_picture_path}}" alt="cover" class="img-cover">
        </div>
        <div class="profile_detail">
            <div class="proflie_detail_left">
                <div class="profile_row">
                    <img src="{{PROFILE_IMG_PATH}}{{user.user_pp_path}}" alt="Profile" class="pd_image">
                    <div class="profile-info">
                        <span class="profile-name">{{user.user_firstname}} {{user.user_lastname}}</span>
                        <span class="profile-friends">120 Friends</span>
                    </div>
                </div>
            </div>
            <div class="proflie_detail_right">
                <span><i class='fas fa-user-friends'></i></ion-icon> Friends</span>
                <span><i class='far fa-comment'></i> Message</span>
                <br />
            </div>
        </div>
        <div class="profile-links-container">
            <div class="profile-links">
                <div class="profile-links-items">
                    <span class="profile-link-item">Publications</span>
                    <span class="profile-link-item">About</span>
                    <span class="profile-link-item">Friend(s)</span>
                    <span class="profile-link-item">Pictures</span>
                </div>
                <div class="profile-link-more">
                    <a href="#"><span><i class="fa fa-ellipsis-h"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile_container">
        <div class="profile_info">
            <div class="info_col">
                <div class="profile_intro">
                    <h3>Intro</h3>
                    <p class="intro_text">{{user.user_description}}</p>
                    <hr>
                    <ul>
                        <li> <i class="fa fa-suitcase"></i>  {{user.user_work}}</li>
                        <li> <i class='fas fa-layer-group'></i>  Studied at {{user.user_school}}</li>
                        <li> <i class='fas fa-map-marker-alt'></i>  Lives in {{user.user_location}}</li>
                    </ul>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Photos</h3>
                        <a href="">All Photos</a>
                    </div>
                    <div class="photo_box">
                        {% for photo in photos %}
                        <div class="photo_box_item"><img src="{{POST_IMG_PATH}}{{photo.post_picture_path}}" alt=""></div>
                        {% endfor %}

                    </div>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Friends</h3>
                        <a href="">All Friends</a>
                    </div>
                    <p>120 (10 mutal)</p>
                    <div class="friends_box">
                        <div><img src="images/member-1.png" alt=""> <p>Adnan Y</p></div> 
                        <div><img src="images/member-2.png" alt=""> <p>Izhan F</p></div> 
                        <div><img src="images/member-3.png" alt=""> <p>Kamran S</p></div> 
                        <div><img src="images/member-4.png" alt=""> <p>Sameer K</p></div> 
                        <div><img src="images/member-5.png" alt=""> <p>Fatiama A</p></div> 
                        <div><img src="images/member-6.png" alt=""> <p>Arham Ar</p></div> 
                        <div><img src="images/member-7.png" alt=""> <p>Kamil Y</p></div> 
                        <div><img src="images/member-8.png" alt=""> <p>Amir Y</p></div> 
                        <div><img src="images/member-9.png" alt=""> <p>Kashan A</p></div> 
                    </div>
                </div>
            </div>
            <div class="post_col">
                <!---
                <div class="post-container">
                    <div class="user-profile">
                        <img src="images/profile-pic.png" alt="Pro We Are Pro You Now">
                        <div>
                            <p>Kashan Adnan</p>
                            <small>Public <i class="fa fa-caret-down"></i></small>
                        </div>
                    </div>
                    <div class="post_input_container">
                        <textarea placeholder="What's on Your Mind" rows="3"></textarea>
                        <div class="add_post_link">
                            <a href="#"><img src="images/live-video.png" alt="Its Video Time">Live Video</a>
                            <a href="#"><img src="images/photo.png" alt="Its Video Time">Photo/Video</a>
                            <a href="#"><img src="images/feeling.png" alt="Its Video Time">Feeling/Activity</a>
                        </div>
                    </div>
                </div>-->
                {% for post in posts %}
                <div class="post-container">
                <div class="post-top-row">
                    <div class="user-profile">
                        <img src="{{PROFILE_IMG_PATH}}{{post.user_pp_path}}" alt="Pro We Are Pro You Now">
                        <div class="post-data">
                            <span class="post-data-name">{{post.user_firstname}} {{post.user_lastname}}</span>
                            <span class="post-data-date">{{post.time_stamp.format('Y-m-d H:i')}}</span>
                        </div>
                    </div>
                    <div class="post-setting">
                        <span><i class="fa fa-ellipsis-h"></i></span>
                        <span class="close">&times;</span>
                    </div>
                </div>
                <p class="post_text">{{post.post_content}}</p>
                <img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Feedback" class="post_img">
                <div class="post-bottom-row">
                    <div class="post-bottom-row-item">
                        <ion-icon src="{{URL}}img/svg-icons/thumbs-up-outline.svg"></ion-icon>
                        <span>J'aime</span>
                    </div>
                    <div class="post-bottom-row-item">
                        <ion-icon src="{{URL}}img/svg-icons/chatbubble-outline.svg"></ion-icon>
                        <span>Commenter</span>
                    </div>
                    <div class="post-bottom-row-item">
                        <ion-icon src="{{URL}}img/svg-icons/people-circle-outline.svg"></ion-icon>
                        <span>Envoyer</span>
                    </div>
                    <div class="post-bottom-row-item">
                        <ion-icon src="{{URL}}img/svg-icons/arrow-redo-outline.svg"></ion-icon>
                        <span>Partager</span>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
