{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/profileAbout.css">
    <link rel="stylesheet" href="{{URL}}css/profileHeader.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/profileHeader.js" defer></script>
    <script src="{{URL}}js/profileAbout.js" defer></script>
    <script src="{{URL}}js/profileFriends.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
    {% include 'profileHeader.twig' with {'URL': URL , 'user':user, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    
    <div class="profile_container" data-user-id="{{ user.user_id }}">
        <div class="profile_info">
            <div class="info_col">
                <div class="profile_intro">
                    
                    
                    <div class='about-container'>
                        <div class="about-nav">
                            <h3 class="about-title">About</h3>
                            <button class="about-nav-item active" onclick="changeActiveAboutNav(event)" id="overview">Overview</button>
                            <button class="about-nav-item" onclick="changeActiveAboutNav(event)" id="work-school">Work and School</button>
                            <button class="about-nav-item" onclick="changeActiveAboutNav(event)"id="location">Location</button>
                            <button class="about-nav-item" onclick="changeActiveAboutNav(event)"id="general-information">General Information</button>
                        </div>
                        
                        <div class="about-content">
                            <div class="about-section">
                                <ul class="about-list overview">
                                     {% if user.user_work %}
                                    <li class="about-list-item">
                                        <i class="fa-solid fa-briefcase"></i>
                                        <span>Works at {{user.user_work}}</span>
                                    </li>
                                    {% endif %}
                                
                                    {% if user.user_school %}
                                    <li class="about-list-item">
                                        <i class="fas fa-graduation-cap"></i>
                                        <span>Studied at {{user.user_school}}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.user_location %}
                                    <li class="about-list-item">
                                        <i class="fas fa-home"></i>
                                        <span>Lives in {{user.user_location}}</span>
                                    </li>
                                    {% endif %}
                                    {% if user.user_hometown %}
                                    <li class="about-list-item">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>From {{user.user_hometown}}</span>
                                    </li>
                                    {% endif %}
                                </ul>
                                
                                <ul class="about-list work-school">
                                     {% if user.user_work %}
                                    <li class="about-list-item">
                                        <i class="fa-solid fa-briefcase"></i>
                                        <span>Works at {{user.user_work}}</span>
                                    </li>
                                    {% endif %}
                                
                                    {% if user.user_school %}
                                    <li class="about-list-item">
                                        <i class="fas fa-graduation-cap"></i>
                                        <span>Studied at {{user.user_school}}</span>
                                    </li>
                                    {% endif %}
                                </ul>

                                <ul class="about-list location">
                                    
                                    {% if user.user_location %}
                                    <li class="about-list-item">
                                        <i class="fas fa-home"></i>
                                        <span>Lives in  {{user.user_location}}</span>
                                    </li>
                                    {% endif %}
                                </ul>

                                <ul class="about-list general-information">
                                    {% if user.user_yob !=0 %}
                                    <li class="about-list-item">
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>Year of birth : {{user.user_yob}} </span>
                                    </li>
                                     {% endif %}
                                
                                    {% if user.user_gender %}
                                    <li class="about-list-item">
                                        {% if user.user_gender == 1 %}
                                        <i class="fa-solid fa-mars"></i>
                                        <span>Gender: male</span>
                                        {% endif %}
                                        {% if user.user_gender == 0 %}
                                        <i class="fa-solid fa-venus"></i>
                                        <span>Gender: female</span>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% if user.user_website %}
                                    <li class="about-list-item">
                                       <i class="fa-solid fa-earth-americas"></i>
                                        <span>Website: {{user.user_website}}</span>
                                    </li>
                                    {% endif %} 
                                </ul>

                            </div>
                            
                            {% if is_current_user %}
                            <div class="add-info-section">
                                <button class="add-info-button">
                                    <i class="fas fa-plus"></i>
                                    <span>Ajouter une information</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="profile_intro friends-container">
                    <div class="friends-header">
                        <h3 class="friends-title">Friends</h3>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="search-container" id="follow-search-container">
                                        <input type="text" class="form-control search-input" name="follow-search" onkeyup="searchFriends(event)" placeholder="Search...">
                                        <i class="fas fa-search search-icon"></i>
                                    </div>
                                </div>
                            </div>
				        </div>
                    </div>
                    
                    <div class="friends-nav">
                        <span class="friends-nav-item active" onclick="changeActiveFriendsNav(event)" id="all">All friends</span>
                        <span class="friends-nav-item" onclick="changeActiveFriendsNav(event)" id="school">School</span>
                        <span class="friends-nav-item" onclick="changeActiveFriendsNav(event)" id="location">City</span>
                    </div>
                    
                    <div class="friends_box">
                        {% for friend in friends|slice(0, 6) %}
                        <div class="friend-item-container">
                            <a href="{{URL}}/profile/{{friend.user_slug}}" class="friend-item">
                                <div class='friend-profile_picture'>
                                    <img src="{{PROFILE_IMG_PATH}}{{friend.user_pp_path}}" alt=""> 
                                </div>
                                <p>{{friend.user_firstname}} {{friend.user_lastname}}</p>
                            </a>
                            <button class="add-friend-btn">Add friend</button>
                        </div> 
                        {% endfor %}
                    </div>
                    
                    <a href="{{URL}}profile/{{user.user_slug}}/friends" class="see-all-friends">See all Friends</a>
                </div>



                 <div class="profile_intro photos-container">
                    <div class="photos-header">
                        <h3 class="photos-title">Photos</h3>
                    </div>
                    
                    <div class="photos-nav">
                        <span class="photos-nav-item active" onclick="" id="">Photos taken by {{user.user_firstname}}</span>
                        <span class="photos-nav-item" onclick="" id="">Photos taken by others</span>
                    </div>
                    
                    <div class="photos_box">
                        {% for post in posts|slice(0, 6) %}
                        <div class="photos-item-container">
                                <div class='photo-picture'>
                                    <img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt=""> 
                                </div>
                        </div> 
                        {% endfor %}
                    </div>
                    
                    <a href="{{URL}}profile/{{user.user_slug}}/photos" class="see-all-friends">See all photos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}