{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/profilePublications.css">
    <link rel="stylesheet" href="{{URL}}css/profileHeader.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <link rel="stylesheet" href="{{URL}}css/likeModal.css">
    <link rel="stylesheet" href="{{URL}}css/commentModal.css">
    
    <script src="{{URL}}js/likeModal.js" defer></script>
    <script src="{{URL}}js/commentModal.js" defer></script>
	<script src="{{URL}}js/profileHeader.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
	{% include 'profileHeader.twig' with {'URL': URL , 'user':user, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    <div class="profile_container">
        <div class="profile_info">
            <div class="info_col">
                <div class="profile_intro">
                    <h3>Intro</h3>
                    <p class="intro_text">{{user.user_description}}</p>
                    <hr>
                    <ul>
                    {% if user.user_work %}
                        <li> <i class="fa fa-suitcase"></i>  {{user.user_work}}</li>
                    {% endif %}
                    {% if user.user_school %}
                        <li> <i class='fas fa-layer-group'></i>  Studied at {{user.user_school}}</li>
                    {% endif %}
                    {% if user.user_location %}
                        <li> <i class='fas fa-map-marker-alt'></i>  Lives in {{user.user_location}}</li>
                    {% endif %}
                    </ul>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Photos</h3>
                        <a href="{{URL}}profile/{{user.user_slug}}/photos">All Photos</a>
                    </div>
                    <div class="photo_box">
                        {% for post in posts|slice(0, 9) %}
                            <div class="photo_box_item"><img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Friends</h3>
                        <a href="{{URL}}profile/{{user.user_slug}}/friends">All Friends</a>
                    </div>
                    <p>{{nb_friends}}</p>
                    <div class="friends_box">
                    {% for friend in friends|slice(0, 9) %}
                        <a href="{{URL}}/profile/{{friend.user_slug}}">
                            <div class='friend-profile-info'>
                                <div class='friend-profile_picture'>
                                    <img src="{{PROFILE_IMG_PATH}}{{friend.user_pp_path}}" alt=""> 
                                </div>
                                <p>{{friend.user_firstname}} {{friend.user_lastname}}</p>
                            </div>
                        </a> 
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="post_col">
                {% for post in posts %}
                    <div class="post-container">
                        <div class="post-top-row">
                            <div class="user-profile">
                                <a href="{{URL}}profile/{{post.user_slug}}"><img src="{{PROFILE_IMG_PATH}}{{post.user_pp_path}}" alt="Avatar"></a>
                                <div class="post-data">
                                    <a href="{{URL}}profile/{{post.user_slug}}"><span class="post-data-name">{{post.user_firstname}} {{post.user_lastname}}</span></a>
                                    <span class="post-data-date">{{post.time_stamp.format('Y-m-d H:i')}}</span>
                                </div>
                            </div>
                            <div class="post-setting">
                                <span><i class="fa fa-ellipsis-h"></i></span>
                                <span class="close">&times;</span>
                            </div>
                        </div>
                        <p class="post_text">{{post.post_content}}</p>
                        <img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Feedback" class="post_img">
                        <div class="post_stats">
                            <div class="post_stats_item" onclick="showLikesModal({{post.post_id}})"> 
                                <ion-icon class="like-icon" src="{{URL}}img/svg-icons/heart-circle.svg" ></ion-icon>
                                <span>{{post.nb_likes}}</span>
                            </div>
                            <div class="post_stats_item"> 
                                <span  onclick="showCommentsModal({{post.post_id}})">{{post.nb_comments}} comments </span>
                                <span>{{post.nb_shares}} shares</span>
                            </div>
                        </div>
                        <div class="post-bottom-row">
                            <div class="post-bottom-row-item">
                                <ion-icon src="{{URL}}img/svg-icons/thumbs-up-outline.svg"></ion-icon>
                                <span>Likes</span>
                            </div>
                            <div class="post-bottom-row-item">
                                <ion-icon src="{{URL}}img/svg-icons/chatbubble-outline.svg"></ion-icon>
                                <span>Comments</span>
                            </div>
                            <div class="post-bottom-row-item">
                                <ion-icon src="{{URL}}img/svg-icons/logo-whatsapp.svg"></ion-icon>
                                <span>Send</span>
                            </div>
                            <div class="post-bottom-row-item">
                                <ion-icon src="{{URL}}img/svg-icons/arrow-redo-outline.svg"></ion-icon>
                                <span>Share</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="likeModal" class="like-modal">
        <div class="like-modal-content">
            <div class="like-modal-header">
                <div class="like-modal-title">Likes</div>
                <span class="close-like-modal">&times;</span>
            </div>
            <div id="likeModalBody">
            </div>
        </div>
    </div>

    <div id="commentModal" class="comment-modal"> 
        <div class="comment-modal-content">
        </div>
    </div> 
{% endblock %}
