{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{URL}}css/profilePublications.css">
    <link rel="stylesheet" href="{{URL}}css/profileHeader.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/dynamic_profilePosts.js" defer></script>
    <link rel="stylesheet" href="{{URL}}css/likeModal.css">
    <link rel="stylesheet" href="{{URL}}css/commentModal.css">
    <link rel="stylesheet" href="{{URL}}css/shareModal.css">
    
    <script src="{{URL}}js/shareModal.js" defer></script>
    <script src="{{URL}}js/likeModal.js" defer></script>
    <script src="{{URL}}js/commentModal.js" defer></script>
	<script src="{{URL}}js/profileHeader.js" defer></script>
{% endblock %}

{% block content %}
    {% include 'navbar.twig' with {'URL': URL} %}
	{% include 'profileHeader.twig' with {'URL': URL , 'user':user, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    <div class="profile_container">
        <div class="profile_info">
            <div class="info_col">
                <div class="profile_intro">
                    <h3>Intro</h3>
                    <p class="intro_text">{{user.user_description}}</p>
                    <hr>
                    <ul>
                    {% if user.user_work %}
                        <li> <i class="fa fa-suitcase"></i>  {{user.user_work}}</li>
                    {% endif %}
                    {% if user.user_school %}
                        <li> <i class='fas fa-layer-group'></i>  Studied at {{user.user_school}}</li>
                    {% endif %}
                    {% if user.user_location %}
                        <li> <i class='fas fa-map-marker-alt'></i>  Lives in {{user.user_location}}</li>
                    {% endif %}
                    </ul>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Photos</h3>
                        <a href="{{URL}}profile/{{user.user_slug}}/photos">All Photos</a>
                    </div>
                    <div class="photo_box">
                        {% for post in posts|slice(0, 9) %}
                            <div class="photo_box_item"><img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="profile_intro">
                    <div class="title_box">
                        <h3>Friends</h3>
                        <a href="{{URL}}profile/{{user.user_slug}}/friends">All Friends</a>
                    </div>
                    <p>{{nb_friends}}</p>
                    <div class="friends_box">
                    {% for friend in friends|slice(0, 9) %}
                        <a href="{{URL}}/profile/{{friend.user_slug}}">
                            <div class='friend-profile-info'>
                                <div class='friend-profile_picture'>
                                    <img src="{{PROFILE_IMG_PATH}}{{friend.user_pp_path}}" alt=""> 
                                </div>
                                <p>{{friend.user_firstname}} {{friend.user_lastname}}</p>
                            </div>
                        </a> 
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="post_col">
            </div>
        </div>
    </div>
    <div id="likeModal" class="like-modal">
        <div class="like-modal-content">
            <div class="like-modal-header">
                <div class="like-modal-title">Likes</div>
                <span class="close-like-modal">&times;</span>
            </div>
            <div id="likeModalBody">
            </div>
        </div>
    </div>
    
    <div id="shareModal" class="share-modal">
        <div class="share-modal-content">
            <div class="share-modal-header">
                <div class="share-modal-title">Shares</div>
                <span class="close-share-modal">&times;</span>
            </div>
            <div id="shareModalBody">
            </div>
        </div>
    </div>

    <div id="commentModal" class="comment-modal"> 
        <div class="comment-modal-content">
        </div>
    </div> 
{% endblock %}
