{% extends 'base.twig' %}

{% block head %}
     <link rel="stylesheet" href="{{URL}}css/profileAbout.css">
    <link rel="stylesheet" href="{{URL}}css/profileHeader.css">
    <link rel="stylesheet" href="{{URL}}css/home.css">
    <script src="{{URL}}js/profileHeader.js" defer></script>
    <script src="{{URL}}js/profileAbout.js" defer></script>
    <script src="{{URL}}js/profilePhotos.js" defer></script>
    <script src="{{URL}}js/profileFriends.js" defer></script>
{% endblock %}

{% block content %}
   {% include 'navbar.twig' with {'URL': URL} %}
    {% include 'profileHeader.twig' with {'URL': URL , 'user':user, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,'nb_friends':nb_friends} %}
    
    <div class="profile_container" data-user-id="{{ user.user_id }}">
        {% include 'friendsSection.twig' with {'profileFriends': true}%}
        {% include 'photosSection.twig' with {'URL': URL ,'posts':posts, 'user':user, 'PROFILE_IMG_PATH':PROFILE_IMG_PATH,} %}
    </div>
{% endblock %}
{#   #}
